{% extends "base.html" %} {% block head %} {{ super() }}
<link 
rel="stylesheet" 
href="{{ url_for('static', filename= 'extended_beauty.css') }}"
/>
{% endblock %}
{% block content %}
<div class="col-md-4 col-md-offset-4">
    <form method="POST" action="/new">
      <h2>Add new working hours</h2>   
      <div class="form-group">
        <label for="hours">Hours</label>
        <input
          type="number"
          class="form-control"
          id="hours"
          name="hours"
          aria-describedby="hoursHelp"
          placeholder="Enter number of working hours"
        />
      </div>
      <div class="form-group">
        <label for="comment">Comment</label>
        <input
          type="text"
          class="form-control"
          id="comment"
          name="comment"
          aria-describedby="commentHelp"
          placeholder="Any comments"
        />
      </div>      
      <div class="form-group">        
        <label for="pet_id">Your Pet</label>
        <select class="form-select" aria-label="Select" name="pet_id">
          {% for pet in pets %}
            <option value="{{ pet.id }}">{{ pet.id }} - {{ pet.name }}</option>
          {% endfor %}
        </select>             
      </div>      
      <div class="form-group">
        <label for="date">Date</label>
        <input
          type="date"
          class="form-control"
          id="date"
          name="date"
          aria-describedby="dateHelp"
          placeholder="Add date"
        />
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>

{% endblock %}